@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Shizuru&display=swap");
* {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  background-color: #E7E4D3;
  font-family: "Cookie", cursive; }
  body header img {
    width: 25%; }
  body header .sinSubrayar {
    text-decoration: none; }
    body header .sinSubrayar h1 {
      font-size: 4rem;
      color: #F28E98; }

.animation {
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: initial; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.carouselPointer:hover {
  cursor: pointer; }

#botonera {
  font-family: "Cookie", cursive;
  font-size: 4rem;
  color: #F28E98;
  flex-direction: column !important;
  align-items: center !important; }
  #botonera li {
    color: #F28E98; }
    #botonera li:hover {
      color: yellow;
      font-weight: 600; }

#footer {
  font-family: "Cookie", cursive;
  font-size: 4rem;
  color: #F28E98;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center; }
  #footer img {
    width: 40px; }
