@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Shizuru&display=swap');

*{ 
	font-family: 'Cookie', cursive;
	margin: 0;
	padding: 0;
}
html{
	font-size: 62.5%;
}

body{
	background-image: url(../img/brushes.jpg);
	display: grid;
	grid-template-columns: 30vw 40vw 30vw;
	grid-template-rows: 25vh 60vh 25vh;
	grid-template-areas: "header header header" 
	 "main main nav" 
	"footer footer footer";	
}

/*empieza encabezado*/

header{
	grid-area: header;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}



.logoWidth{
	width: 60px;
}

h1{
	font-size: 5rem;
	text-decoration: none;
	text-align: center;
	color: darkblue;
}

/*termina encabezado*/

/*empieza nav*/

nav{
	grid-area: nav;
	border-style: none;
	margin: 15px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}
 
.liText{
	border-style: none;
	font-weight: 160;
	font-size: 4rem;
	list-style: none;
	flex-direction: column;
	align-items: center;
}


ul li a:hover{
	color: darkred;
	font-weight: 600;
}


.ulFlex{
	
}


.sinSubrayar{
	text-decoration: none;
}

/*termina nav*/

/*empieza contenido principal*/

main{
	grid-area: main;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.imgWidth{
	width: 180px;
	padding top: 10px;
	margin top: 10px;
	border-style: none;
	
}


.mainContacto{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.mainRestauraciones{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
}

.mainSobremi{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	color: darkblue;
}

.mainTapizados{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1.8rem;
	color: darkblue;

}

form, legend, label{
	color: darkblue;
	font-size: 2.5rem;
	flex-direction: row;

}

h2{
	font-size: 3rem;
}

p{
	font-size: 2.5rem;
	margin: 10px;
	padding: 10px;
	color: darkblue;
}


input{
	width: 150px;
	height: 10px;
}

iframe{
	width: 250px;
	height: 200px;

}

/*termina empieza contenido principal*/

 /* empieza footer*/

footer{
	grid-area: footer;
	border-style: none;
	display: flex;
	margin: 3px;
	padding: 2px;
 }

.pieDepagina{
	font-size: 3rem;
	flex-flow: row wrap;
	justify-content: center;
	align-content: flex-end;
	color: darkblue;
}

footer div a img{
	width:  40px;
}

 /* termina footer*/



@media only screen and (max-width: 280px){
	body{
	grid-template-columns: 50vw 50vw;
	grid-template-rows: 15vh 25vh 40vh 20vh;
	grid-template-areas: "header header" 
	"main main" "nav nav" 
	"footer footer";	
}

/*empieza encabezado*/

header{
	grid-area: header;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.logoWidth{
	width: 60px;
	

}


h1{
	font-size: 2rem;
	text-decoration: none;
	text-align: center;
	color: darkblue;
}

/*termina encabezado*/

/*empieza nav*/

nav{
	grid-area: nav;
	border-style: none;
	margin: 15px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}
 
.liText{
	border-style: none;
	font-weight: 160;
	font-size: 3rem;
	list-style: none;
	text-align: center;
	flex-direction: column;
	align-items: center;
}



ul li a:hover{
	color: darkred;
	font-weight: 600;
}

.navContacto{
	display: none;
}


.sinSubrayar{
	text-decoration: none;
}

/*termina nav*/



/*empieza contenido principal*/

main{
	grid-area: main;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.imgWidth{
	width: 80px;
	padding top: 5px;
	margin top: 5px;
	border-style: none;

}

.mainContacto{
	display: flex;
}

.mainRestauraciones{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
}


.mainSobremi, p{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-size: 1.8rem;
	color: darkblue;
}

.mainTapizados{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-size: 1.8rem;
	color: darkblue;

}

h2{
	font-size: 2rem;
}

form, legend, label{
	color: darkblue;
	font-size: 1rem;

}


input{
	width: 60px;
	height: 4px;
}

iframe{
	width: 200px;
	height: 80px;

}

/*termina empieza contenido principal*/

/* empieza footer*/

footer{
	grid-area: footer;
	border-style: none;
	display: flex;
	margin: 2px;
	padding: 1px;
 }

.pieDepagina{
	font-size: 1.5rem;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	color: darkblue;
}

footer div a img{
	width:  20px;
}

 /* termina footer*/