@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Shizuru&display=swap");
* {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  background-color: #E7E4D3;
  font-family: "Cookie", cursive; }
  body header nav {
    background-color: #E1CBA6; }
  body header a img {
    width: 25%; }
  body header a img, body header .animation {
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count: initial; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  body main h2, body main p {
    font-family: "Cookie", cursive;
    color: #F28E98;
    font-size: 3rem; }
  body main p {
    font-family: "Shizuru", cursive;
    font-size: 2rem; }
  body main img, body main iframe, body main .animation {
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count: initial; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  body main img:hover {
    cursor: pointer; }

#botonera {
  font-family: "Cookie", cursive;
  font-size: 2.5rem;
  color: #F28E98;
  text-decoration: none;
  flex-direction: row !important;
  align-items: flex-end !important; }
  #botonera li {
    color: #F28E98; }
    #botonera li:hover {
      color: yellow;
      font-weight: 600; }

#footer {
  background-color: #E1CBA6;
  font-size: 4rem;
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center; }
  #footer img {
    width: 40px; }
