html{
	font-size: 62.5%;
	
}

body{
	background-color: map-get($map:$paleta,$key:'cuatro');
	font-family: $fontMain;
	header {
			a img{ width: $w-25;
				}
			a img, .animation{
					animation-duration: 3s;
					animation-name: aparecer;
					animation-iteration-count: initial;
					}
											
					@keyframes aparecer{
					0%{
						opacity: 0;
					}
					100% {	
						opacity: 1;
					}
					}
					
			}
	main{
			h2{
				font-family: $fontMain;
				color: $textColor;
				font-size: $textLg;
			}
			p{
			 	@extend h2;
			 	font-family: $fontSecondary;
			 	font-size: $textLg;
			 	margin-right: 20px;
			}

			form{
				@include flex(column nowrap,space-between,center);
				@extend p;
			}

			img, iframe, .animation{
					animation-duration: 3s;
					animation-name: aparecer;
					animation-iteration-count: initial;
					}
											
					@keyframes aparecer{
					0%{
						opacity: 0;
					}
					100% {
						opacity: 1;
					}
			}

				iframe{
					@include flex(column nowrap,space-between,center);
				}
				img{ &:hover{
				cursor: pointer;
					}
				}


					
			}	
		
	}

