@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Grape+Nuts&family=Indie+Flower&display=swap');

$fontMain: 'Grape Nuts', cursive;
$fontSecondary: 'Indie Flower', cursive;
$textColor: #F28E98;

$textXl: 4rem;
$textLg: 3rem;
$textMd: 2rem;
$textSm: 1rem;
