@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Shizuru&display=swap');

$fontMain: 'Cookie', cursive;
$fontSecondary: 'Shizuru', cursive;
$textColor: #F28E98;

$textXl: 4rem;
$textLg: 3rem;
$textMd: 2rem;
$textSm: 1rem;
