#botonera{
	font-family: $fontMain;
	font-size: 2.5rem;
	color: #F28E98;
	text-decoration: none;
	flex-direction: row!important;
	align-items: flex-end!important;
					li{
						color: #F28E98;
						  &:hover{
							color: yellow;
							font-weight: 600;
								}
						}
			}



