#botonera{
	@include flex(row nowrap,space-between,center);
	font-family: $fontMain;
	font-size: 2.5rem;
	color: #F28E98;
	text-decoration: none;
						a{
						color: #F28E98; 
						  &:hover{
							color: yellowgreen;
							font-weight: 400;
								}
						}	
			
					
	@media(max-width: 720px){
	@include flex(column,flex-end,end);
	font-family: $fontMain;
	font-size: 2rem;
	color: #F28E98;
	text-decoration: none;
						a{
						color: #F28E98; 
						  &:hover{
							color: yellowgreen;
							font-weight: 400;
								}
						}	
			}
}	